HTML e CSS/Curso em vídeo/Repositório_html_css
HTML e CSS/Curso em vídeo/Exercícios/ex011/midia
HTML e CSS/Curso em vídeo/Exercícios/ex012/midia
Streamlit/dashboardDieta/macros-key.json
LangChain/Tutorial(Greg Kamradt)/api_key.py
LangChain/Tutorial(Greg Kamradt)/.env
LangChain/TutorialYT1h/.env
LangChain/Nanonets/retrival/api_key.py
LangChain/Nanonets/modules/api_key.py
LangChain/Nanonets/Agents/api_key.py
LangChain/Nanonets/api_key.py

